body{
    font-family: Helvetica,Arial, sans-serif;
}
/* Banner */
.banner{
    background-color: #385898;
    width: 100%;
    color: #FFF;
}
.banner h1{
    font-family: Helvetica,Arial, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    line-height: 35px;
}
.banner.form-label,.form-control{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 16px !important;
}
.banner .form-control{
    color: #1c1e21;
    height: 1.3rem;
    width: 13rem;
    border: none !important;
    border-radius: 0;
}
.lead{
    color: #FFF;
    font-size: 12px !important;
    line-height: 16px;
}
.primary-button{
    background-color: #5c85d6;
    padding: 0 5px;
    color: #FFF;
    border-radius: 0;
    font-weight: 700;
}
.button{
    padding-top: 1.8rem;
}
.primary-button:hover{
   display: block;
}
/* Bloc principal */
.padding{
    padding-left: 23rem;
}
.principal h1{
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: 54px;
    color: #1d2129;
}
.principal .info{
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 21px;
    color: #90949c;
}
.principal .rapide{
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    color: #4b4f56;
}
.principal small{
    font-weight: 400;
    font-size: 11px;
    font-style: normal;
    line-height: 15px;
    color: #777777;
}
#french{
    color:#737373;
}
.langues a,.services>a{
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    color: #385898;
    margin-right: 20px;
}
p.signature{
    color: #737373;
    font-weight: 400;
    font-size: 11px;
    font-style: normal;
    line-height: 15px;
}
hr.hr{
    background-color: #f2f2f2;
    color: black;
    width: 100%;
    margin: 0;
}





/* Responsive */
@media (max-width:992px){
    .banner form.form{
        display: none;
    }
    .padding{
       padding-left:  0;
    }
}

