@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700;1,900&display=swap');
body{
    background-size: cover !important;
    font-family: Helvetica,Arial, sans-serif;
}
.Connexion h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #007acc;
}
.form{
    border: 1px solid transparent;
    border-radius: 10px;
}
.form-control{
    height: 50px;
}
form p{
    font-weight: 500;
    font-size: 18px;
    color: #1c1e21;
}
.btn-primary{
    height: 45px;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
}
a{
    font-weight: 500;
    font-size: 14px;
    color: #1877f2;
}
p{
    margin: 0
}
#ou{
    font-weight: 400;
    font-size: 12px;
    color: #737373;
}
.btn-success{
    height: 45px;
}